.map-wrap {
    position: relative;
    width: 100%;
    height: calc(100vh - 77px);
    margin-top: 3rem;
    /* calculate height of the screen minus the heading */
}

.map {
    position: absolute;
    width: 100%;
    height: 100%;
}

.maplibregl-popup-content {
    width: fit-content !important;
    border-radius: 11px !important;
}

.maplibregl-map {
    border-radius: 20px !important;
}

.nearby-searchbar {
    display: flex;
    justify-content: center;
    margin-top: -2.5rem;
}

.nearby-searches {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #2f2f2f;
    border-radius: 20px;
    margin-top: 2rem;
    position: relative;
    height: 30rem;
    overflow-y: scroll;
}

.search-subcontainer {
    display: flex;
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid black;

    img {
        width: 5rem;
        aspect-ratio: 1;
        border-radius: 40px;
    }
}

.search-innercontainer {
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.notfound {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonContainer {
    display: flex;
    /* display: none; */
    width: 100%;
    /* height: 100%; */
    min-height: 90px;
    position: relative;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 3rem;

    div {
        /* width: 100%; */
        color: white;
        background-color: #7676762b;  
        /* #37373738; */
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
        cursor: pointer;
        padding: 25px 20px;
    }
}

.requestBlood {
    width: 25rem;
    border-right: 3px solid #161616;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.requestBtn {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.buttonContainer::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(100deg, #9e005f60, #77b28160, #c8240060);
    filter: blur(9.1px);
    border-radius: 20px;
    z-index: -1;
}

.requestCheckbox {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    min-width: 30px;
    min-height: 30px;
    background-color: #2f2f2f;
    border: 2px solid #fff;
    border-radius: 12px;
    outline: none;
}

.requestCheckbox:checked {
    appearance: none;
    -webkit-appearance: none;
    /* background-color: red; */
}

.requestCheckbox:checked {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='red' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

@media (max-width: 786px) {

    .map-wrap {
        margin-top: 1.5rem;
        height: 55vh !important;
    }

    .nearby-searchbar {
        margin-top: 1.5rem;
    }

    .nearby-searches {
        margin-top: 1.5rem;
    }

    .search-innercontainer {
        img {
            width: 4rem !important;
        }

        p {
            font-size: 1.6rem !important;
        }
    }

    .search-subcontainer {
        svg {
            width: 3rem !important;
        }
    }

    .buttonContainer {
        flex-direction: column;
        min-height: 135px !important;
        margin-top: 2rem !important;

        div {
            width: 100% !important;
            height: 100% !important;
            justify-content: flex-start;
            column-gap: 20px !important;
            padding-left: 20px !important;
            flex-direction: row !important;
        }
    }

    .requestBtn {
        border: none !important;
        border-radius: 20px !important;
        /* border-top: 1px solid #161616 !important; */
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
    }

    .requestBlood {
        border: none;
        border-bottom: 3px solid #161616 !important;
        border-radius: 20px !important;
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }
}