.login-container {
  margin-top: -60px !important;
  width: 100vw;
  height: 100vh;
  display: flex;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

.rightHalf {
  width: 50vw;
  height: 100vh;
  background-color: #282828;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loginIcon {
  width: 18rem;
  height: 18rem;
  margin-bottom: 1rem;
}

.leftHalf {
  background-color: #161616;
  width: 50vw;
  height: 100vh;

  p {
    width: 100% !important;
  }
}

.leftContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  height: 100vh;
  width: 60%;
  margin: auto;
}

.loginForm {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  width: 100%;

  input {
    border-radius: 7px;
    background-color: transparent;
    border: 1px solid #383838;
    padding: 10px;
    color: white;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  color: rgb(255, 255, 255) !important;
  -webkit-text-fill-color: rgb(255, 255, 255) !important;
  -webkit-box-shadow: 0 0 0 1000px rgba(255, 0, 0, 0) inset !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  caret-color: white;
}

.showpassword {
  /* margin: 0;
  align-self: flex-start;
  height: 100%; */
  display: flex;
  column-gap: 5px;
}

.submitButton {
  background-color: #282828;
  border: none;
  color: white;
  border-radius: 7px;
  padding: 10px;
  font-size: 1.3rem;
  margin-top: 5px;
}

.verify {
  display: none;
  flex-direction: column;
  row-gap: 0.5rem;
}

.mobileUi {
  display: none;
}

@media only screen and (max-width: 1300px) {
  .mobileUi {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    margin-top: -3vh;
    margin-bottom: 5vh;

    div {
      margin-top: -2.5rem !important;
      p {
        font-size: 2.2rem !important;
      }
    }
  }

  .rightHalf {
    display: none !important;
  }

  .leftHalf {
    width: 100vw !important;
  }
}

